<div class="container bg-primary">
    <div style="text-align: right;">
        <button class="btn btn-success" (click)="login()">Login</button>
        &nbsp;
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
<div>
    <figure>
        <figcaption>{{restaurantTitle}}</figcaption>
        <img [src]="restaurantLogo" title="My restaurant image" [height]="height" [width]="width"/>
    </figure>
</div>
<div>
    <input type="radio" name="companyName" (click)="setdata('B')">Raaga banquet
    <input type="radio" name="companyName" (click)="setdata('I')">Raaga Imperio
</div>
</div>