<div class="container">
    <div class="row">
        <div class="col-sm-12">            
            <a class="btn btn-info" routerLink="/registration">
                Registration</a> &nbsp;
            <a class="btn btn-info" routerLink="/ems">
                EMS</a> &nbsp;
            <a class="btn btn-info" routerLink="/peekaboo">
                Peek a boo</a> &nbsp;
            <a class="btn btn-info" routerLink="/quiz">
                Quiz</a> &nbsp;
            <a class="btn btn-info" routerLink="/todo">
                Planner</a> &nbsp;
            <a class="btn btn-info" routerLink="/asyncpipe">
                Async pipe</a>
        </div>
    </div>
</div>
