<div class="row custom-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-5 coustom-container jumbotron">
    <form class="form-horizontal" #signupform="ngForm" (ngSubmit)="employeeRegistration(signupform)">
        <fieldset>
            <legend>Signup</legend>
            <div class="form-group">
                <label for="empName">Employee Name :</label>
                <input type="text" id="empName" name="empName" placeholder="Enter name"
                    [ngModel]="employee.empName" #empNameRef="ngModel" required />
            </div>
            <div *ngIf="empNameRef.dirty || empNameRef.touched">
                <div *ngIf="empNameRef.errors?.required" class="alert alert-danger">
                    Employee name is mandatory
                </div>
            </div>
            <div ngModelGroup="password" #password="ngModelGroup">
                <div class="form-group">
                    <label for="empPswd">Enter password :</label>
                    <input type="password" id="empPswd" name="empPswd" placeholder="Enter password"
                    [ngModel]="employee.password.empPswd"
                    #emppassword=ngModel
                    minlength="8"
                    required />
                </div>
                <div class="form-group">
                    <label for="reEmpPswd">Retype password :</label>
                    <input type="password" id="empCPswd" name="empCPswd" placeholder="Re-enter password"
                    [ngModel]="employee.password.empCPswd"
                    #empcpassword=ngModel
                    minlength="8"
                    required />
                </div>
                <div *ngIf="password.invalid && (password.touched || password.dirty)"
                    class="alert alert-danger">
                    <div *ngIf="password.value?.emppassword != password.value?.empcpassword else invalid">
                        Password mismatch
                    </div>
                    <ng-template #invalid>
                        Password and Confirm password are mandatory
                    </ng-template>
                </div>
            </div>
            <div class="form-group">
                <label for="empEmail">Enter email :</label>
                <input type="email" id="empEmail" name="empEmail" placeholder="Enter email id"
                [ngModel]="employee.empEmail"
                #empEmail=ngModel />
            </div>
            <div class="alert alert-danger"
                *ngIf="empEmail.invalid && (empEmail.touched || empEmail.dirty)">
                <div *ngIf="empEmail.errors?.required">
                    Email is mandatory
                </div>
                <div *ngIf="empEmail.errors?.pattern">
                    Enter valid email id
                </div>
            </div>
            <div class="form-group">
                <label for="empDepartment">Select department :</label>
                <select id="empDepartment" name="empDepartment" [ngModel]="employee.empDepartment">
                    <option *ngFor="let d of departments" value="{{d}}">
                        {{d}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <input type="checkbox" id="consent" name="consent" [ngModel]="employee.consent" />
                <label for="iAgree">I agree</label>
            </div>
            <div class="form-group">
                <button type="reset" class="btn btn-danger">Clear</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div>
                {{ signupform.value | json }}
            </div>
        </fieldset>
    </form>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-12">
                Users available
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                User Name
            </div>
            <div class="col-sm-6">
                Department
            </div>
        </div>
        <div class="row" *ngFor="let user of allUsers">
            <div class="col-sm-6">
                {{user.empName}}
            </div>
            <div class="col-sm-6">
                {{user.empDepartment}}
            </div>
        </div>
    </div>
</div>